<h2>複数行のテキストをpやbr要素で置き換えたい(simple_format)</h2>
<%
article = <<EOS
  アイウエオアオアシラ

  こんにちは
  おしっこ和尚です。
EOS
%>
<%= simple_format(article, class: :article) %>

<h3>メリット</h3>
<h3>転用</h3>
メールの文面やLINEのメッセージをWeb上で表示したいときに使用するとよさげ
<h3>文献</h3>
RailsAP p137

<hr>

<h2>例えば30文字以上の文字を...で切り捨てたい(truncate)</h2>

<% truncate_msg = "皆さんこんにちは。今日はいい天気ですね。燦燦と光り輝く太陽とピーピー鳴いている小鳥のせせらぎが聞こえ、キンキンに冷えた水が喉を潤し、人々は笑顔で暮らしています。" %>
<p style="font-weight: bold;">原文</p>
<%= truncate_msg %>
<p style="font-weight: bold;">truncateで区切った文字</p>
<%= truncate(truncate_msg, length: 30) %>

<h3>メリット</h3>
ユーザーがコンテンツの全体と大まかな概要をざっくり把握したい時に使える。

<h3>転用</h3>
ブログの記事一覧
検索エンジンの検索結果一覧

<h3>文献</h3>
RailsAP p139

<hr>

<h2>文字列の中から特定の部分を抜粋して表示したい(excerpt)</h2>
<% excerpt_msg = "皆さんこんにちは。今日はいい天気ですね。燦燦と光り輝く太陽とピーピー鳴いている小鳥のせせらぎが聞こえ、キンキンに冷えた水が喉を潤し、人々は笑顔で暮らしています。" %>
<p style="font-weight: bold;">原文</p>
<%= excerpt_msg %>
<p style="font-weight: bold;">excerptで抜粋した文字</p>
<%= excerpt(excerpt_msg, '小鳥', radius: 10) %>
<%= excerpt(excerpt_msg, '小鳥', radius: 10, omission: "***") %>

<h3>メリット</h3>
ユーザーが検索した時に、目当ての記事かどうかを一覧表示の時点で把握できる

<h3>転用</h3>
検索エンジンの途中
アプリ内の文字検索

<h3>文献</h3>
RailsAP p140

<hr>

<h2>テーブルやリストの背景色をn行おきに変更したい(cycle)</h2>
<% numbers = [1,2,3,4,5,6,7,8,9,10] %>
<% numbers.each do |number| %>
  <tr style="background-color: <%= cycle('#FFffFF', '#FFff99')%>">
    <td><%= number %></td>
    <td>aaaa</td>
  </tr>
<% end %>

<h3>メリット</h3>
クライアントサイトの可読性
<h3>転用</h3>
bootstarpを使わずに表を見やすくしたい場合に手取り早い
<h3>文献</h3>
RailsAP p142

<hr>

<h2>特定のキーワードをハイライト表示したい(highlight)</h2>
<% highlight_msg = "皆さんこんにちは。今日はいい天気ですね。燦燦と光り輝く太陽とピーピー鳴いている小鳥のせせらぎが聞こえ、キンキンに冷えた水が喉を潤し、人々は笑顔で暮らしています。" %>
<%= highlight(highlight_msg, "太陽")%>
<%= highlight(highlight_msg, ["天気", "ピーピー"])%>

<h3>メリット</h3>
特定キーワードを手軽に見やすく表示してくれる
<h3>転用</h3>
検索キーワードを見やすく表示したいなどで使える
<h3>文献</h3>
RailsAP p144

<hr>

<h2>スクリプトブロックの中に出力コードを埋め込みたい(concat)</h2>
<% hoge = 1 %>
<% concat "出力コード" if hoge > 0%>
<h3>メリット</h3>
コードがシンプルになる。
<h3>転用</h3>
値段が3000円以上の時にチェックマークを追加したり色をつけたりできる
<h3>文献</h3>
RailsAP p144

<hr>

<h2>文字列を整形したい(sprintf)</h2>
<%
@name = :premiumwaterfromjapan
@sum = 90000.121212
@shop = 52
%>

<%= sprintf('%.10s：全店舗%d件の月総売上%.1f千円、店舗平均は%10.3f千円です。', @name, @shop, @sum, @sum / @shop) %>

<h3>メリット</h3>
変数の加工をviewの文字列に委任することができる(わざわざ変数を加工する為だけに冗長な書き方をする必要がなくなる)

<h3>転用</h3>
日付とかに使えそう

<h3>文献</h3>
RailsAP p148

<hr>

<h2>したい()</h2>
<h3>メリット</h3>
<h3>転用</h3>
<h3>文献</h3>


<hr>

<h2>したい()</h2>
<h3>メリット</h3>
<h3>転用</h3>
<h3>文献</h3>