<h2>複数行のテキストをpやbr要素で置き換えたい(simple_format)</h2>
<%
article = <<EOS
  アイウエオアオアシラ

  こんにちは
  おしっこ和尚です。
EOS
%>
<%= simple_format(article, class: :article) %>

<h3>メリット</h3>
<h3>転用</h3>
メールの文面やLINEのメッセージをWeb上で表示したいときに使用するとよさげ
<h3>文献</h3>
RailsAP p137

<hr>

<h2>例えば30文字以上の文字を...で切り捨てたい(truncate)</h2>

<% truncate_msg = "皆さんこんにちは。今日はいい天気ですね。燦燦と光り輝く太陽とピーピー鳴いている小鳥のせせらぎが聞こえ、キンキンに冷えた水が喉を潤し、人々は笑顔で暮らしています。" %>
<p style="font-weight: bold;">原文</p>
<%= truncate_msg %>
<p style="font-weight: bold;">truncateで区切った文字</p>
<%= truncate(truncate_msg, length: 30) %>

<h3>メリット</h3>
ユーザーがコンテンツの全体と大まかな概要をざっくり把握したい時に使える。

<h3>転用</h3>
ブログの記事一覧
検索エンジンの検索結果一覧

<h3>文献</h3>
RailsAP p139

<hr>

<h2>文字列の中から特定の部分を抜粋して表示したい(excerpt)</h2>
<% excerpt_msg = "皆さんこんにちは。今日はいい天気ですね。燦燦と光り輝く太陽とピーピー鳴いている小鳥のせせらぎが聞こえ、キンキンに冷えた水が喉を潤し、人々は笑顔で暮らしています。" %>
<p style="font-weight: bold;">原文</p>
<%= excerpt_msg %>
<p style="font-weight: bold;">excerptで抜粋した文字</p>
<%= excerpt(excerpt_msg, '小鳥', radius: 10) %>
<%= excerpt(excerpt_msg, '小鳥', radius: 10, omission: "***") %>

<h3>メリット</h3>
<h3>転用</h3>
<h3>文献</h3>

<hr>

<h2>したい()</h2>
<h3>メリット</h3>
<h3>転用</h3>
<h3>文献</h3>

<hr>

<h2>したい()</h2>
<h3>メリット</h3>
<h3>転用</h3>
<h3>文献</h3>