<h2>ハイパーリンクを生成したい(link_to)</h2>
<%= link_to "Qiita", "https://qiita.com/", data: { confirm: "外部ページに飛んでいいですか？"} %>
<%= link_to "トップページ", root_path %>
<h3>メリット</h3>
link_toはリンク押下時に、確認ダイアログ、削除、ajaxでのリンク処理などができる
<h3>転用</h3>
上記コミュニケーションをユーザーと取れる
<h3>文献</h3>
RailsAP p155

<hr>
<h2>ルート定義から動的にURLを作成したい(url_for)</h2>
<%= url_for(action: :edit)%>
<h3>メリット</h3>
よくわかってない。
<h3>転用</h3>
<h3>文献</h3>
RailsAP p156

<hr>
<h2>条件に応じてリンクを生成したい(link_to_if)</h2>
<% @sex = "mam" %>
<%= link_to_if @sex.nil?, "ログイン", link_path %>
<%= link_to_unless @sex.nil?, "ログイン", link_path %>
<h3>メリット</h3>
後置ifを使わなくて済む
<h3>転用</h3>
DRYな記法をしたい場合に採用
<h3>文献</h3>
RailsAP p158

<hr>
<h2>メールアドレスへのリンクを生成したい(mail_to)</h2>
<h3>メリット</h3>
クリックすると、利用者側でメールクライアントが起動し、設定されている宛先の情報が自動的に設定される。
<br>
個人的にはそれをメリットと感じていない。macでもwindowでもiPhoneでもメールクライアントは設定せず、大体gmailやyahooメールを使用しているため
<h3>転用</h3>
存在だけ認知しておく程度。
<h3>文献</h3>
RailsAP p160
